*{
    padding: 0px;
    margin: 0px;
}
#mostrador {
    width: 70px;
    padding: 10px;
    border: 0.1px solid black;
    display: block;
    margin: auto;
    background-color: #FEFEFE;
}
#centralizar{
    width: 70%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    padding: 70px;
    background-color: aquamarine;
}
h1, input, div {
    margin: 20px 10px 20px 0;
}
input{
    background-color: #FEFEFE;
}

body{
    background-color: lightgray;
}